@import '_fonts.scss';
$brown:#D8A73C;
$white:white;
$grey:#F5F5F5;

@mixin h2Style {
    font-size: 2rem;
    text-align: center;
    font-family: $portadabold;
    margin-bottom: 3rem;
}

@mixin p20px {
    font-family: $portada;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2;
}

html {
    direction: rtl;
    font-size: 15px;

    @media (max-width:1500px) {
        font-size: 13px;
    }

    @media (max-width:1300px) {
        font-size: 11px;
    }

    @media (max-width:991px) {
        font-size: 13px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    body {
        header {
            box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
            position: relative;
            top: 0%;
            left: 0%;
            width: 100%;
            z-index: 5;
            background-color: $white;


            nav {
                .header-container {
                    .logo {
                        display: block;
                        max-width: 50%;

                        @media (min-width: 992px) {
                            width: 12.5%;
                        }

                        img {
                            width: 100%;
                        }
                    }

                    .menu-list {
                        .nav-item {
                            margin: auto;
                            padding: 1rem 0;

                            .nav-link {
                                padding: 0;
                                color: black;
                                font-family: $portada;
                                font-size: 1.2rem;
                                display: flex;
                                width: max-content;
                                margin: auto;

                                i {
                                    align-self: center;
                                    font-size: 1rem;
                                    margin: 0 5px;
                                }
                            }
                        }

                        .brown-dropdown {
                            position: initial;

                            .brown-dropdown-div {
                                background-color: $brown;
                                width: 100%;
                                border: none;
                                border-radius: 0;

                                @media (min-width: 992px) {
                                    position: absolute;
                                    left: 0;
                                    top: 95%;
                                }

                                .brown-dropdown-menu {
                                    .dropdown-item {
                                        color: black;
                                        font-family: $portadabold;
                                        font-size: 1.2rem;
                                        text-align: center;
                                        padding: 1rem;
                                    }
                                }
                            }
                        }
                    }

                    .search-form {
                        padding: 1rem 0;

                        @media (min-width: 992px) {
                            padding: 0 2rem;
                        }

                        .input-search,
                        .btn-search {
                            border: .15rem solid $brown;
                        }

                        .input-search {
                            padding: .7rem 2.5rem;
                            border-radius: 0 100px 100px 0;
                            border-left: none;
                            outline: unset;

                            &::placeholder {
                                width: max-content;
                                font-family: $portada;
                                font-size: 1rem;
                                color: #B9B9B9;
                            }
                        }

                        .btn-search {
                            border-right: none;
                            border-radius: 100px 0 0 100px;
                            padding: .7rem 2.5rem;
                            display: flex;

                            i {
                                align-self: center;
                                color: $brown;
                                font-size: 1.2rem;
                            }

                            &:hover {
                                background-color: $brown;

                                i {
                                    color: $white;
                                }
                            }
                        }
                    }

                    .social-media {
                        padding: 1rem 0;

                        @media (min-width: 992px) {
                            padding: 0;
                        }

                        .connect {
                            align-self: center;
                            padding: .5rem;
                            color: black;
                            font-family: $portada;
                            font-size: 1.2rem;
                            width: max-content;
                        }

                        a {
                            align-self: center;
                            padding: .5rem;
                            display: block;

                            i {
                                color: black;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }

        header.fixed {
            position: fixed;
        }

        main {
            padding-top: .3rem;

            .banner {
                .home-page-swiper {
                    @media (max-width:768px) {
                        background-color: black;
                    }

                    .swiper-grid {
                        position: relative;
                        z-index: 1;

                        .swiper-content {
                            position: relative;
                            display: flex;

                            video {
                                width: 100%;
                            }

                            .banner-svg {
                                position: absolute;
                                left: 12%;
                                top: 27%;
                                width: 25%;

                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    .swiper-tools {
                        position: absolute;
                        left: 50%;
                        bottom: 5%;
                        transform: translateX(-50%);
                        z-index: 2;
                        width: 70%;

                        @media (max-width:768px) {
                            position: initial;
                            transform: translateX(0px);
                            background: black;
                            width: 100%;
                            padding: 1rem 0;
                        }

                        .swiper-pagination {
                            position: relative;

                            .swiper-pagination-bullet {
                                background-color: $white;
                                opacity: 1;
                            }

                            .swiper-pagination-bullet-active {
                                background-color: $brown;
                            }
                        }

                        .search-form {
                            margin-bottom: 3rem;
                            width: 100%;

                            @media (max-width:768px) {
                                width: 90%;
                                margin: 0 auto 3rem;
                            }

                            .input-search {
                                padding: 1rem 2rem;
                                flex-grow: 1;
                                border: .15rem solid $white;
                                border-left: none;
                                border-radius: 0 100px 100px 0;
                                outline: unset;
                                background: #FFFFFF69 0% 0% no-repeat padding-box;
                                color: $white;
                                font-family: $portada;

                                &::placeholder {
                                    color: #F5F5F5;
                                    font-family: $portada;
                                }
                            }

                            .btn-search {
                                padding: 1rem 2rem;
                                border-right: none;
                                color: $white;
                                font-family: $portada;
                                border: .15rem solid $brown;
                                border-radius: 100px 0 0 100px;
                                background-color: $brown;

                                @media (min-width:768px) {
                                    width: 15%;
                                }
                            }
                        }
                    }
                }
            }

            .section-2 {
                background-color: $white;

                .top-img {
                    width: 100%;
                    overflow: hidden;

                    img {
                        transform: translateY(-40%);
                    }
                }

                .content {
                    padding: 4rem 0;
                    margin: auto;

                    @media (min-width: 992px) {
                        width: 80%;
                    }

                    h2 {
                        @include h2Style();
                    }

                    p {
                        @include p20px();
                    }
                }
            }

            .section-3 {
                background-color: #F6F6F6;

                .libraries {
                    padding: 4rem 0;
                    margin: auto;

                    h2 {
                        @include h2Style();
                    }

                    @media (min-width: 1400px) {
                        width: 90%;
                    }

                    .row-libraries {
                        .col-library {
                            margin: 0 auto 2rem;

                            .content-library {
                                background-color: $white;
                                border-radius: .8rem;
                                padding: .8rem;
                                display: flex;
                                height: 100%;

                                &:hover {
                                    background-color: $brown;
                                }

                                .icon {
                                    align-self: center;
                                    width: 40%;
                                    margin-left: auto;
                                }

                                .texts {
                                    width: 55%;
                                    align-self: center;

                                    h4 {
                                        font-family: $portadabold;
                                        color: black;
                                    }

                                    p {
                                        font-family: $portadabold;
                                        margin-bottom: 0;
                                        color: black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}