@import '_fonts.scss';
$brown:#D8A73C;
$white:white;
$grey:#F5F5F5;

@mixin h2Style {
    font-size: 2rem;
    text-align: center;
    font-family: $portadabold;
    margin-bottom: 3rem;
}

@mixin p20px {
    font-family: $portada;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2;
}

@mixin libraries {
    .libraries {
        padding-bottom: 4rem;
        margin: auto;

        h2 {
            @include h2Style();
        }

        @media (min-width: 1400px) {
            width: 90%;
        }

        .row-libraries {
            .col-library {
                margin: 0 auto 2rem;

                .content-library {
                    background-color: $white;
                    border-radius: .8rem;
                    padding: .8rem;
                    display: flex;
                    height: 100%;
                    transition: .5s ease-in-out;

                    &:hover {
                        background-color: $brown;
                    }

                    .icon {
                        align-self: center;
                        width: 40%;
                        margin-left: auto;
                    }

                    .texts {
                        width: 55%;
                        align-self: center;

                        h4 {
                            font-family: $portadabold;
                            color: black;
                        }

                        p {
                            font-family: $portadabold;
                            margin-bottom: 0;
                            color: black;
                        }
                    }
                }

                .active {
                    background-color: $brown;
                }
            }
        }
    }
}

@mixin books {
    .books-swiper {
        .book-prev {
            position: absolute;
            left: 1%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;

            i {
                font-size: 1.5rem;
            }
        }

        .book-next {
            position: absolute;
            right: 1%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;

            i {
                font-size: 1.5rem;
            }
        }

        .books-swiper-grid {
            .swiper-slide {
                height: unset !important;
            }

            .book-content {
                width: 80%;
                margin: 0 auto;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-bottom: 1rem;

                .icon {
                    display: flex;
                    position: relative;

                    &::after {
                        box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px -2px;
                        display: block;
                        content: '';
                        width: 100%;
                        height: 50%;
                        position: absolute;
                        left: 0%;
                        bottom: 0%;
                        background-color: $white;
                        z-index: 0;
                        border-radius: 10px 10px 0 0;
                    }

                    img {
                        position: relative;
                        z-index: 1;
                        margin: 0 auto;
                        max-width: 25%;
                    }
                }

                .book-text {
                    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px -2px;
                    flex-grow: 1;
                    cursor: pointer;
                    background-color: $white;
                    border-radius: 0 0 10px 10px;
                    display: flex;
                    flex-direction: column;
                    padding: 1rem 1rem 0;

                    h2 {
                        @include h2Style();
                        width: 80%;
                        margin: 0 auto 3rem;
                    }

                    h3 {
                        @include p20px();
                        font-family: $portadabold;
                        margin: auto auto 2rem;
                        width: 70%;
                    }

                    p {
                        @include p20px();
                        font-size: 1rem;
                    }

                    .read-more {
                        margin: 0 -1rem;
                        background-color: #FCFAF5;
                        border-radius: 0 0 10px 10px;
                        display: flex;

                        i {
                            margin: 0 auto 0 1rem;
                            align-self: center
                        }

                        p {
                            @include p20px();
                            font-family: $portadabold;
                            margin-bottom: 0;
                            margin-left: auto;
                            align-self: center;
                        }
                    }
                }
            }
        }
    }
}

html {
    direction: rtl;
    font-size: 15px;

    @media (max-width:1500px) {
        font-size: 13px;
    }

    @media (max-width:1300px) {
        font-size: 11px;
    }

    @media (max-width:991px) {
        font-size: 13px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .list-style-none {
        list-style-type: none;
    }

    body {
        header {
            box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
            position: relative;
            top: 0%;
            left: 0%;
            width: 100%;
            z-index: 5;
            background-color: $white;


            nav {
                .header-container {
                    .logo {
                        display: block;
                        max-width: 50%;

                        @media (min-width: 992px) {
                            width: 12.5%;
                        }

                        img {
                            width: 100%;
                        }
                    }

                    .menu-list {
                        .nav-item {
                            margin: auto;
                            padding: 1rem 0;

                            .nav-link {
                                padding: 0;
                                color: black;
                                font-family: $portada;
                                font-size: 1.2rem;
                                display: flex;
                                width: max-content;
                                margin: auto;

                                i {
                                    align-self: center;
                                    font-size: 1rem;
                                    margin: 0 5px;
                                }
                            }
                        }

                        .brown-dropdown {
                            position: initial;

                            .brown-dropdown-div {
                                background-color: $brown;
                                width: 100%;
                                border: none;
                                border-radius: 0;

                                @media (min-width: 992px) {
                                    position: absolute;
                                    left: 0;
                                    top: 95%;
                                }

                                .brown-dropdown-menu {
                                    .dropdown-item {
                                        color: black;
                                        font-family: $portadabold;
                                        font-size: 1.2rem;
                                        text-align: center;
                                        padding: 1rem;
                                    }
                                }
                            }
                        }
                    }

                    .search-form {
                        padding: 1rem 0;

                        @media (min-width: 992px) {
                            padding: 0 2rem;
                        }

                        .input-search,
                        .btn-search {
                            border: .15rem solid $brown;
                        }

                        .input-search {
                            padding: .7rem 2.5rem;
                            border-radius: 0 100px 100px 0;
                            border-left: none;
                            outline: unset;

                            &::placeholder {
                                width: max-content;
                                font-family: $portada;
                                font-size: 1rem;
                                color: #B9B9B9;
                            }
                        }

                        .btn-search {
                            border-right: none;
                            border-radius: 100px 0 0 100px;
                            padding: .7rem 2.5rem;
                            display: flex;

                            i {
                                align-self: center;
                                color: $brown;
                                font-size: 1.2rem;
                            }

                            &:hover {
                                background-color: $brown;

                                i {
                                    color: $white;
                                }
                            }
                        }
                    }

                    .social-media {
                        padding: 1rem 0;

                        @media (min-width: 992px) {
                            padding: 0;
                        }

                        .connect {
                            align-self: center;
                            padding: .5rem;
                            color: black;
                            font-family: $portada;
                            font-size: 1.2rem;
                            width: max-content;
                        }

                        a {
                            align-self: center;
                            padding: .5rem;
                            display: block;

                            i {
                                color: black;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }

        header.fixed {
            position: fixed;
        }

        .main-home {
            // padding-top: .3rem;

            .banner {
                .home-page-swiper {
                    @media (max-width:768px) {
                        background-color: black;
                    }

                    .swiper-grid {
                        position: relative;
                        z-index: 1;

                        .swiper-content {
                            position: relative;
                            display: flex;

                            video {
                                width: 100%;
                            }

                            .banner-svg {
                                position: absolute;
                                left: 12%;
                                top: 27%;
                                width: 25%;

                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    .swiper-tools {
                        position: absolute;
                        left: 50%;
                        bottom: 5%;
                        transform: translateX(-50%);
                        z-index: 2;
                        width: 70%;

                        @media (max-width:768px) {
                            position: initial;
                            transform: translateX(0px);
                            background: black;
                            width: 100%;
                            padding: 1rem 0;
                        }

                        .swiper-pagination {
                            position: relative;

                            .swiper-pagination-bullet {
                                background-color: $white;
                                opacity: 1;
                            }

                            .swiper-pagination-bullet-active {
                                background-color: $brown;
                            }
                        }

                        .search-form {
                            margin-bottom: 3rem;
                            width: 100%;

                            @media (max-width:768px) {
                                width: 90%;
                                margin: 0 auto 3rem;
                            }

                            .input-search {
                                padding: 1rem 2rem;
                                flex-grow: 1;
                                border: .15rem solid $white;
                                border-left: none;
                                border-radius: 0 100px 100px 0;
                                outline: unset;
                                background: #FFFFFF69 0% 0% no-repeat padding-box;
                                color: $white;
                                font-family: $portada;

                                &::placeholder {
                                    color: #F5F5F5;
                                    font-family: $portada;
                                }
                            }

                            .btn-search {
                                padding: 1rem 2rem;
                                border-right: none;
                                color: $white;
                                font-family: $portada;
                                border: .15rem solid $brown;
                                border-radius: 100px 0 0 100px;
                                background-color: $brown;

                                @media (min-width:768px) {
                                    width: 15%;
                                }
                            }
                        }
                    }
                }
            }

            .section-2 {
                background-color: $white;

                .top-img {
                    width: 100%;
                    overflow: hidden;

                    img {
                        transform: translateY(-40%);
                    }
                }

                .content {
                    padding: 4rem 0;
                    margin: auto;

                    @media (min-width: 992px) {
                        width: 80%;
                    }

                    h2 {
                        @include h2Style();
                    }

                    p {
                        @include p20px();
                    }
                }
            }

            .section-3 {
                padding: 4rem 0;
                background-color: #F6F6F6;
                @include libraries();
                @include books();
            }

            .section-4 {
                padding: 4rem 0;
                background-color: #E9E9E9;

                h2 {
                    @include h2Style();
                }

                .col-partner {
                    margin: auto;
                    padding: 2rem 0;

                    .partner {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .main-libraries {
            .banner-libraries {
                position: relative;

                .menu {
                    padding: 1rem 0;
                    @include libraries();

                    .libraries {
                        padding-bottom: 0;
                    }
                }

                .libraries-banner {
                    .banner-img {
                        img {
                            width: 100%;
                        }
                    }
                }

                .background-section {
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    width: 100%;
                    height: 100%;
                    z-index: -1;

                    .background {
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            .section-1 {
                padding: 1rem 0;

                .top-img {
                    img {
                        width: 100%;
                    }
                }

                .content {
                    padding: 2rem 0;

                    h1 {
                        font-family: $portadabold;
                        text-align: center;
                    }

                    .books {
                        padding: 2rem 0;

                        h2 {
                            @include h2Style();
                            text-align: start;
                        }

                        @include books();
                    }
                }
            }
        }

        .main-videos {
            .banner-libraries {
                position: relative;

                .menu {
                    padding: 1rem 0;
                    @include libraries();

                    .libraries {
                        padding-bottom: 0;
                    }
                }

                .libraries-banner {
                    .banner-img {
                        img {
                            width: 100%;
                        }
                    }
                }

                .videos {
                    .videos-swiper {
                        margin: auto;

                        @media (min-width: 1400px) {
                            width: 90%;
                        }

                        .video-row {
                            .col-video {

                                video,
                                iframe {
                                    width: 100%;
                                    border-radius: 10px;
                                }
                            }

                            .col-data {
                                margin: auto;

                                h1 {
                                    font-family: $portadabold;
                                    line-height: 1.5;
                                }

                                h2 {
                                    @include h2Style();
                                    font-family: $portada;
                                    text-align: start;
                                    line-height: 1.5;
                                }
                            }
                        }
                    }
                }

                .thumb-videos {
                    .thumb-videos-swiper {
                        .thumb-img {
                            img {
                                width: 100%;
                                border-radius: 10px;
                            }
                        }
                    }
                }

                .background-section {
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    width: 100%;
                    height: 100%;
                    z-index: -1;

                    .background {
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            .section-1 {
                padding: 4rem 0;

                .top-img {
                    img {
                        width: 100%;
                    }
                }
            }
        }

        .main-voices {
            .banner-libraries {
                position: relative;

                .menu {
                    padding: 1rem 0;
                    @include libraries();

                    .libraries {
                        padding-bottom: 0;
                    }
                }

                .voices-banner {
                    .col-images {
                        margin-right: auto;
                        padding: 0;

                        .img-div {
                            img {
                                width: 100%;
                            }
                        }
                    }

                    .col-slider {
                        padding: 0;
                        display: flex;

                        .voices-banner-slider {
                            align-self: self-end;

                            .slide-img {
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                .background-section {
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    width: 100%;
                    height: 100%;
                    z-index: -1;

                    .background {
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        footer {
            background-color: $brown;

            .container-footer {
                padding-top: 2rem;
                padding-bottom: 2rem;

                .footer-logo {
                    padding-bottom: 2rem;
                    max-width: 50%;

                    @media (min-width:768px) {
                        max-width: 30%;
                    }

                    img {
                        width: 100%;
                    }
                }

                .footer-row {
                    .col-menus {
                        ul {
                            li {
                                color: $white;

                                a {
                                    color: $white;
                                    line-height: 2;
                                    font-size: 1.2rem;
                                    font-family: $portada;
                                }
                            }
                        }
                    }

                    .col-contact {
                        margin-right: auto;

                        .contact-icon {
                            text-align: center;

                            img {
                                max-width: 30%;
                            }

                            p {
                                margin: 1rem 0;
                                color: $white;
                                font-size: 1rem;
                                font-family: $portadabold;
                            }
                        }

                        .f-c-form {
                            display: flex;
                            flex-direction: column;

                            .f-c-email {
                                margin-bottom: .5rem;
                                background-color: $white;
                                border: 1px solid #B9B9B9;
                                text-align: center;
                                padding: .5rem 1rem;
                                border-radius: 100px;
                                color: $brown;
                                outline: unset;

                                &::placeholder {
                                    color: #B9B9B9;
                                }
                            }

                            .f-c-submit {
                                margin: auto;
                                padding: .5rem 4rem;
                                border-radius: 100px;
                                background-color: $white;
                                border: none;
                                color: $brown;
                                font-family: $portadabold;
                            }
                        }

                        .social-media {
                            margin-top: 4rem;
                            padding: 1rem 0;

                            @media (min-width: 992px) {
                                padding: 0;
                            }

                            .connect {
                                align-self: center;
                                padding: .5rem;
                                color: $white;
                                font-family: $portada;
                                font-size: 1.2rem;
                                width: max-content;
                            }

                            a {
                                align-self: center;
                                padding: .5rem;
                                display: block;

                                i {
                                    color: $white;
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }

            .terms {
                background-color: #EECC61;

                p {
                    @include p20px();
                    margin-bottom: 0;
                }
            }
        }

        .book1-modal {
            .modal-content {
                .modal-header {
                    border: none;

                    .btn-close {
                        margin-left: 0;
                        margin-right: auto;
                    }
                }

                .modal-body {
                    .row-modal {
                        .book-img {
                            width: 100%;

                            img {
                                width: 100%;
                            }
                        }

                        .modal-video {
                            width: 100%;

                            video,
                            iframe {
                                width: 100%;
                                border-radius: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}