@font-face {
  font-family: "portada";
  src: url("../fonts/portada.otf") format("opentype"), url("../fonts/portada.ttf") format("ttf");
}
@font-face {
  font-family: "portadabold";
  src: url("../fonts/portadabold.otf") format("opentype"), url("../fonts/portadabold.ttf") format("ttf");
}
html {
  direction: rtl;
  font-size: 15px;
}
@media (max-width: 1500px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 1300px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 13px;
  }
}
html a {
  text-decoration: none;
  color: black;
}
html body header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 5;
  background-color: white;
}
html body header nav .header-container .logo {
  display: block;
  max-width: 50%;
}
@media (min-width: 992px) {
  html body header nav .header-container .logo {
    width: 12.5%;
  }
}
html body header nav .header-container .logo img {
  width: 100%;
}
html body header nav .header-container .menu-list .nav-item {
  margin: auto;
  padding: 1rem 0;
}
html body header nav .header-container .menu-list .nav-item .nav-link {
  padding: 0;
  color: black;
  font-family: "portada", serif;
  font-size: 1.2rem;
  display: flex;
  width: max-content;
  margin: auto;
}
html body header nav .header-container .menu-list .nav-item .nav-link i {
  align-self: center;
  font-size: 1rem;
  margin: 0 5px;
}
html body header nav .header-container .menu-list .brown-dropdown {
  position: initial;
}
html body header nav .header-container .menu-list .brown-dropdown .brown-dropdown-div {
  background-color: #D8A73C;
  width: 100%;
  border: none;
  border-radius: 0;
}
@media (min-width: 992px) {
  html body header nav .header-container .menu-list .brown-dropdown .brown-dropdown-div {
    position: absolute;
    left: 0;
    top: 95%;
  }
}
html body header nav .header-container .menu-list .brown-dropdown .brown-dropdown-div .brown-dropdown-menu .dropdown-item {
  color: black;
  font-family: "portadabold", serif;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
}
html body header nav .header-container .search-form {
  padding: 1rem 0;
}
@media (min-width: 992px) {
  html body header nav .header-container .search-form {
    padding: 0 2rem;
  }
}
html body header nav .header-container .search-form .input-search,
html body header nav .header-container .search-form .btn-search {
  border: 0.15rem solid #D8A73C;
}
html body header nav .header-container .search-form .input-search {
  padding: 0.7rem 2.5rem;
  border-radius: 0 100px 100px 0;
  border-left: none;
  outline: unset;
}
html body header nav .header-container .search-form .input-search::placeholder {
  width: max-content;
  font-family: "portada", serif;
  font-size: 1rem;
  color: #B9B9B9;
}
html body header nav .header-container .search-form .btn-search {
  border-right: none;
  border-radius: 100px 0 0 100px;
  padding: 0.7rem 2.5rem;
  display: flex;
}
html body header nav .header-container .search-form .btn-search i {
  align-self: center;
  color: #D8A73C;
  font-size: 1.2rem;
}
html body header nav .header-container .search-form .btn-search:hover {
  background-color: #D8A73C;
}
html body header nav .header-container .search-form .btn-search:hover i {
  color: white;
}
html body header nav .header-container .social-media {
  padding: 1rem 0;
}
@media (min-width: 992px) {
  html body header nav .header-container .social-media {
    padding: 0;
  }
}
html body header nav .header-container .social-media .connect {
  align-self: center;
  padding: 0.5rem;
  color: black;
  font-family: "portada", serif;
  font-size: 1.2rem;
  width: max-content;
}
html body header nav .header-container .social-media a {
  align-self: center;
  padding: 0.5rem;
  display: block;
}
html body header nav .header-container .social-media a i {
  color: black;
  font-size: 1.2rem;
}
html body header.fixed {
  position: fixed;
}
html body main {
  padding-top: 0.3rem;
}
@media (max-width: 768px) {
  html body main .banner .home-page-swiper {
    background-color: black;
  }
}
html body main .banner .home-page-swiper .swiper-grid {
  position: relative;
  z-index: 1;
}
html body main .banner .home-page-swiper .swiper-grid .swiper-content {
  position: relative;
  display: flex;
}
html body main .banner .home-page-swiper .swiper-grid .swiper-content video {
  width: 100%;
}
html body main .banner .home-page-swiper .swiper-grid .swiper-content .banner-svg {
  position: absolute;
  left: 12%;
  top: 27%;
  width: 25%;
}
html body main .banner .home-page-swiper .swiper-grid .swiper-content .banner-svg img {
  width: 100%;
}
html body main .banner .home-page-swiper .swiper-tools {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  z-index: 2;
  width: 70%;
}
@media (max-width: 768px) {
  html body main .banner .home-page-swiper .swiper-tools {
    position: initial;
    transform: translateX(0px);
    background: black;
    width: 100%;
    padding: 1rem 0;
  }
}
html body main .banner .home-page-swiper .swiper-tools .swiper-pagination {
  position: relative;
}
html body main .banner .home-page-swiper .swiper-tools .swiper-pagination .swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}
html body main .banner .home-page-swiper .swiper-tools .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #D8A73C;
}
html body main .banner .home-page-swiper .swiper-tools .search-form {
  margin-bottom: 3rem;
  width: 100%;
}
@media (max-width: 768px) {
  html body main .banner .home-page-swiper .swiper-tools .search-form {
    width: 90%;
    margin: 0 auto 3rem;
  }
}
html body main .banner .home-page-swiper .swiper-tools .search-form .input-search {
  padding: 1rem 2rem;
  flex-grow: 1;
  border: 0.15rem solid white;
  border-left: none;
  border-radius: 0 100px 100px 0;
  outline: unset;
  background: #FFFFFF69 0% 0% no-repeat padding-box;
  color: white;
  font-family: "portada", serif;
}
html body main .banner .home-page-swiper .swiper-tools .search-form .input-search::placeholder {
  color: #F5F5F5;
  font-family: "portada", serif;
}
html body main .banner .home-page-swiper .swiper-tools .search-form .btn-search {
  padding: 1rem 2rem;
  border-right: none;
  color: white;
  font-family: "portada", serif;
  border: 0.15rem solid #D8A73C;
  border-radius: 100px 0 0 100px;
  background-color: #D8A73C;
}
@media (min-width: 768px) {
  html body main .banner .home-page-swiper .swiper-tools .search-form .btn-search {
    width: 15%;
  }
}
html body main .section-2 {
  background-color: white;
}
html body main .section-2 .top-img {
  width: 100%;
  overflow: hidden;
}
html body main .section-2 .top-img img {
  transform: translateY(-40%);
}
html body main .section-2 .content {
  padding: 4rem 0;
  margin: auto;
}
@media (min-width: 992px) {
  html body main .section-2 .content {
    width: 80%;
  }
}
html body main .section-2 .content h2 {
  font-size: 2rem;
  text-align: center;
  font-family: "portadabold", serif;
  margin-bottom: 3rem;
}
html body main .section-2 .content p {
  font-family: "portada", serif;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2;
}
html body main .section-3 {
  background-color: #F6F6F6;
}
html body main .section-3 .libraries {
  padding: 4rem 0;
  margin: auto;
}
html body main .section-3 .libraries h2 {
  font-size: 2rem;
  text-align: center;
  font-family: "portadabold", serif;
  margin-bottom: 3rem;
}
@media (min-width: 1400px) {
  html body main .section-3 .libraries {
    width: 90%;
  }
}
html body main .section-3 .libraries .row-libraries .col-library {
  margin: 0 auto 2rem;
}
html body main .section-3 .libraries .row-libraries .col-library .content-library {
  background-color: white;
  border-radius: 0.8rem;
  padding: 0.8rem;
  display: flex;
  height: 100%;
  transition: 0.5s ease-in-out;
}
html body main .section-3 .libraries .row-libraries .col-library .content-library:hover {
  background-color: #D8A73C;
}
html body main .section-3 .libraries .row-libraries .col-library .content-library .icon {
  align-self: center;
  width: 40%;
  margin-left: auto;
}
html body main .section-3 .libraries .row-libraries .col-library .content-library .texts {
  width: 55%;
  align-self: center;
}
html body main .section-3 .libraries .row-libraries .col-library .content-library .texts h4 {
  font-family: "portadabold", serif;
  color: black;
}
html body main .section-3 .libraries .row-libraries .col-library .content-library .texts p {
  font-family: "portadabold", serif;
  margin-bottom: 0;
  color: black;
}
html body main .section-3 .books-swiper .books-swiper-grid .swiper-slide {
  height: unset !important;
}
html body main .section-3 .books-swiper .books-swiper-grid .book-content {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  background-color: white;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  padding: 0 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
html body main .section-3 .books-swiper .books-swiper-grid .book-content h2 {
  font-size: 2rem;
  text-align: center;
  font-family: "portadabold", serif;
  margin-bottom: 3rem;
  width: 80%;
  margin: 0 auto 3rem;
}
html body main .section-3 .books-swiper .books-swiper-grid .book-content h3 {
  font-family: "portada", serif;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2;
  font-family: "portadabold", serif;
  margin: auto auto 2rem;
  width: 70%;
}
html body main .section-3 .books-swiper .books-swiper-grid .book-content p {
  font-family: "portada", serif;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2;
  font-size: 1rem;
}
html body main .section-3 .books-swiper .books-swiper-grid .book-content .read-more {
  margin: 0 -1rem;
  background-color: #FCFAF5;
  border-radius: 0 0 10px 10px;
  display: flex;
}
html body main .section-3 .books-swiper .books-swiper-grid .book-content .read-more i {
  margin: 0 auto 0 1rem;
  align-self: center;
}
html body main .section-3 .books-swiper .books-swiper-grid .book-content .read-more p {
  font-family: "portada", serif;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2;
  font-family: "portadabold", serif;
  margin-bottom: 0;
  margin-left: auto;
  align-self: center;
}